/* <!-- QuickSand Font - Page Default Font --> */
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
    font-family: 'Quicksand', sans-serif;
    color: white;
    background-image: url("background_title.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container {
  height: 100px;
  display: flex; 
  padding-top: 30%; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-container > div {
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 30px;
  font-size: 50px;
}

@media only screen and (max-width: 800px) {
  body {
    background-image: url("background_mobile.jpg");
    object-fit: cover;
    background-repeat: repeat;
  }

  .flex-container {
    padding-top: 90%;
  }
}